@font-face {
  font-family: 'iconsMemoria';
  src:  url('fonts/iconsMemoria.eot?yszbl3');
  src:  url('fonts/iconsMemoria.eot?yszbl3#iefix') format('embedded-opentype'),
    url('fonts/iconsMemoria.ttf?yszbl3') format('truetype'),
    url('fonts/iconsMemoria.woff?yszbl3') format('woff'),
    url('fonts/iconsMemoria.svg?yszbl3#iconsMemoria') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsMemoria' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adobe:before {
  content: "\41";
}
.icon-arrow_l:before {
  content: "\4c";
}
.icon-arrow_r:before {
  content: "\52";
}
.icon-cart:before {
  content: "\43";
}
.icon-chupete:before {
  content: "\55";
}
.icon-cloud:before {
  content: "\4e";
}
.icon-download:before {
  content: "\44";
}
.icon-drive:before {
  content: "\64";
}
.icon-dropbox:before {
  content: "\58";
}
.icon-envelope:before {
  content: "\45";
}
.icon-euro:before {
  content: "\20ac";
}
.icon-light:before {
  content: "\6c";
}
.icon-lights:before {
  content: "\69";
}
.icon-paper_01:before {
  content: "\50";
}
.icon-paper:before {
  content: "\70";
}
.icon-people:before {
  content: "\47";
}
.icon-plug:before {
  content: "\67";
}
.icon-pregnant:before {
  content: "\30";
}
.icon-rayo:before {
  content: "\31";
}
.icon-recycle:before {
  content: "\32";
}
.icon-shop:before {
  content: "\33";
}
.icon-target:before {
  content: "\34";
}
.icon-truck:before {
  content: "\35";
}
.icon-wheel:before {
  content: "\36";
}
.icon-woman:before {
  content: "\37";
}
