/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
/* END RESET */

/* FONTS */
@font-face{font-family:'iconsMemoria';src:url('../fonts/iconsMemoria.eot?yszbl3');src:url('../fonts/iconsMemoria.eot?yszbl3#iefix') format('embedded-opentype'),url('../fonts/iconsMemoria.ttf?yszbl3') format('truetype'),url('../fonts/iconsMemoria.woff?yszbl3') format('woff'),url('../fonts/iconsMemoria.svg?yszbl3#iconsMemoria') format('svg');font-weight:normal;font-style:normal}
[class^="icon-"], [class*=" icon-"]{font-family:'iconsMemoria' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-adobe:before{content:"\41"}
.icon-arrow_l:before{content:"\4c"}
.icon-arrow_r:before{content:"\52"}
.icon-cart:before{content:"\43"}
.icon-chupete:before{content:"\55"}
.icon-cloud:before{content:"\4e"}
.icon-download:before{content:"\44"}
.icon-drive:before{content:"\64"}
.icon-dropbox:before{content:"\58"}
.icon-envelope:before{content:"\45"}
.icon-euro:before{content:"\20ac"}
.icon-light:before{content:"\6c"}
.icon-lights:before{content:"\69"}
.icon-paper_01:before{content:"\50"}
.icon-paper:before{content:"\70"}
.icon-people:before{content:"\47"}
.icon-plug:before{content:"\67"}
.icon-pregnant:before{content:"\30"}
.icon-rayo:before{content:"\31"}
.icon-recycle:before{content:"\32"}
.icon-shop:before{content:"\33"}
.icon-target:before{content:"\34"}
.icon-truck:before{content:"\35"}
.icon-wheel:before{content:"\36"}
.icon-woman:before{content:"\37"}
/* END FONTS */

body{text-align:center;font-family:verdana;color:#000000}
body #main .wrap{float:left;display:inline;width:100%}
#main{display:inline-block;width:100%;margin:0 auto;max-width:1160px;text-align:left}
#header{float:left;display:inline;width:100%;position:relative;margin-bottom:3vw}
#header .wrap{background:transparent url('../images/line.gif') repeat-x left bottom;display:inline-block;width:100%}
#header a.logo{float:left;display:inline;background:url('../images/logo_ikea.jpg') no-repeat center bottom;bottom:0;width:205px;height:100px;text-indent:-9999px}
.social, .social li, .social a{float:left;display:inline}
.social a{width:37px;height:37px;margin-left:11px;background:url('../images/icons.gif') no-repeat 0 0;text-indent:-9999px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.social{float:right;margin-top:44px}
.social .item_02 a{background-position:center top}
.social .item_03 a{background-position:right top}
.social .item_01 a:hover{background-position:left bottom}
.social .item_02 a:hover{background-position:center bottom}
.social .item_03 a:hover{background-position:right bottom}
#header h1{color:#0060a9;position:absolute;width:60%;text-align:center;margin:48px 20% 0;font-size:29px;font-weight:bold;max-width:690px}
.main_nav{margin-bottom:30px;float:left;display:inline;width:100%;text-align:center;border-bottom:1px solid #a5a5a5}
.main_nav a{font-size:22px;font-weight:bold;text-decoration:none;color:#000000;margin:0 1.4% 32px;display:inline-block}
.main_nav a:first-child{margin-left:0}
.main_nav a:last-child{margin-right:0}
.player{position:relative}
.player a:hover .player_icon{opacity:0.9}
.player_icon{opacity:0.5;position:absolute;left:50%;top:50%;width:116px;height:116px;background:url('../images/player.png') no-repeat 0 0;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;margin-top:-58px;margin-left:-58px}
.player a{position:absolute;left:0;top:0;z-index:2;width:100%;height:auto;background-size:cover}
.player iframe{width:100%;position:relative;z-index:1}
.player img.cover{float:left;display:inline;width:100%;height:auto}
#footer{float:left;display:inline;width:100%;padding-bottom:45px;margin-top:50px}
#footer a{color:#000000;text-decoration:none}
#footer a:hover{color:#0060a9}
#footer p{font-size:19px;font-weight:bold}
#footer .memoria{float:left;display:inline;width:40%}
#footer .info{float:right;display:inline;width:60%;text-align:right}
a.mobile_menu{display:none}
body#home .main_nav .item_01,
body#ikeaencifras .main_nav .item_02,
body#ikeaylaspersonas .main_nav .item_03{color:#0060a9;cursor:default}
.secondary_block{font-size:33px;float:left;display:inline;width:100%;margin-bottom:90px}
.secondary_block h2{float:left;display:inline;width:65%;font-weight:bold}
.secondary_block h2.color_01{color:#ffcc00}
.secondary_block a{float:right;display:inline;width:35%;text-align:right;text-decoration:none;color:#2376b5}
.carrusel_block, .carrusel_block .nav{float:left;display:inline;width:100%}
.carrusel_block .nav{margin-bottom:1.4em;position:relative}
.carrusel_block .nav a{width:20%;float:left;display:inline;font-size:32px;text-decoration:none;color:#2376b5}
.carrusel_block .nav a.preview{}
.carrusel_block .nav a.next{float:right;text-align:right}
.carrusel_block ul.pagination{padding-top:8px;float:left;display:inline;width:60%;text-align:center}
.carrusel_block ul.pagination a{width:20px;height:20px;text-indent:-9999px;background:#bcbec0;margin:0 10px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.carrusel_block ul.pagination a.active{background:#2376b5;cursor:default}
.carrusel_block ul.pagination li{display:inline-block}
.content_carrusel{float:left;display:inline;width:100%}
.content_carrusel ul, .content_carrusel li{float:left;display:inline;width:100%}
.content_carrusel ul, .content_carrusel li span{display:block;color:#fff}
.content_carrusel li{width:43%;margin:1%;padding:3%;height:370px}
.content_carrusel li:nth-child(odd){margin-left:0}
.content_carrusel li:nth-child(even){margin-right:0}
.content_carrusel .carrusel_item li{position:relative;background:#e5a12a;color:#ffcc00;font-size:34px}
.content_carrusel .carrusel_item li p.info{font-size: 85%;margin-top: 1em;}
.content_carrusel .carrusel_item li span.icon{font-size:360%;display:block;margin-bottom:0.2em;color:rgba(255,255,255,0.5)}
.content_carrusel .carrusel_item li p span{font-size:280%;font-weight:bold;line-height:100%;margin-bottom:0.2em}
.content_carrusel .carrusel_item li.con_02{background:#e7bd1d;color:#ba842c}
.content_carrusel .carrusel_item li.con_03{background:#ffcc00;color:#e5a12a}
.content_carrusel .carrusel_item li.con_04{background:#ffa200;color:#ffcc00}

.main_block{margin-bottom:55px;background-size:cover;float:left;display:inline;height:375px;background-repeat:no-repeat; background-position: 0 0}
.main_block .text{width:42%;float:right;padding:49px 41px 0 0;font-size:25px;color:#fff;font-weight:600;line-height:125%}
.main_block .text p{margin-bottom:1.2em}

/* home */
body#home h2{font-weight:bold;font-size:30px;line-height:120%;float:left;display:inline;width:100%;margin-bottom:16px}
body#home .player{float:left;display:inline;width:100%}
body#home .player iframe{height:652px}
.player a{height:652px}
/* FIN home */

/* IKEA en CIFRAS */
body#ikeaencifras .main_block{background-image:url(../images/ikeaencifras_top.jpg)}
body#ikeaencifras .carrusel_item li.con_04 p span{font-size:165%;width:80%;line-height:125%}
/* FIN IKEA en CIFRAS */

/**/
body#ikeaylaspersonas .active_01 .main_block{background-image:url(../images/ikeaypersonas_top.jpg)}
body#ikeaylaspersonas .active_02 .main_block{background-image:url(../images/ikeaypersonas_02_top.jpg)}
body#ikeaylaspersonas .main_block .text{padding-top:32px}
body#ikeaylaspersonas .content_carrusel li{height:420px}
body#ikeaylaspersonas .page_02 .con_01{background-color:#037037;color:#7ab32d;}
body#ikeaylaspersonas .page_02 .con_01 p span{font-size:170%}
body#ikeaylaspersonas .page_02 .con_01 p span strong{font-size:170%}
body#ikeaylaspersonas .page_02 .con_02{background-color:#00707e;color:#ffffff}
body#ikeaylaspersonas .page_02 .con_02 p{width:90%}
body#ikeaylaspersonas .page_02 .con_02 p span{font-size:110%;margin-bottom:0.8em}
body#ikeaylaspersonas .page_02 .con_02 p span strong{font-size: 274%;float: left;margin-top: 0.2em;margin-right: 0.15em;}
body#ikeaylaspersonas .page_02 .con_03, body#ikeaylaspersonas .page_02 .con_04, body#ikeaylaspersonas .page_02 .con_05{background:#00a650;width:26%;margin:1%}
body#ikeaylaspersonas .page_02 .con_03{margin-left:0;background-color:#00707e;color:#ffffff}
body#ikeaylaspersonas .page_02 .con_05{margin-right:0;background-color:#7ab32d}
body#ikeaylaspersonas .page_02 p.info{color:#7ab32d}
body#ikeaylaspersonas .page_02 .con_03 p span{position: absolute;left: 1.06em;top: 0.55em;font-size: 300%;}
body#ikeaylaspersonas .page_02 .con_03 p{line-height:130%;}
body#ikeaylaspersonas .page_02 .con_04 p{font-size:94%;color:#00707e}
body#ikeaylaspersonas .page_02 .con_04 p span{font-size:240%}
body#ikeaylaspersonas .page_02 .con_05 p{font-size:94%;color:#00707e}
body#ikeaylaspersonas .page_02 .con_05 p span{font-size:240%}
/**/

/* desktop big screen */
@media screen and (min-width:1601px){/* more big screen (>1600px) */
	body.debug{background:#ccddee}
}

@media screen and (max-width:1600px){/* big screen (1600px) */
	body.debug{background:brown}
}
@media screen and (max-width:1200px){/* desktop (1200px) */
	.main_nav{display:inline}
	body.debug{background:orange}
	#header h1{font-size:2.4vw;margin-top:56px}
	#header a.logo{width:17vw;background-size:100% auto}
	body #main .wrap{width:92%;margin-left:4%;margin-right:4%;height:auto;display:inline-block;float:left;position:relative}
	#footer p{font-size:1.5vw}
	.main_nav a{font-size:1.8vw;margin:0 0.8% 3vw}
	#footer{padding-bottom:3.3vw;margin-top:4vw}
	body#home .player iframe{height:51.8vw}
	.player a{height:51.8vw}
	.main_block{height:31vw;margin-bottom:5vw}
	.main_block .text{font-size:1.95vw;padding-top:4vw;padding-right:3.5vw}
	.secondary_block{font-size:3vw}
	.secondary_block{margin-bottom:5vw}
	.carrusel_block .nav a{font-size:2.7vw}
	.content_carrusel li{height:30.2vw}
	body#ikeaylaspersonas .content_carrusel li{height:34vw}
	.content_carrusel .carrusel_item li{font-size:2.7vw}
}

@media screen and (max-width:1024px){/* Tablet landscape (1024x768) */
	body.debug{background:grey}
}

@media screen and (max-width:800px){/* Small tablet landscape (800x600) */
	.main_nav{display:none}
	body.debug{background:red}
	#header{margin-bottom:0}
	#header .wrap{margin-top:4vw;padding:9vw 0 2vw;margin-bottom:2.6vw}
	#header a.logo{height:8vw;position:absolute;left:0;top:0;width:23vw}
	.social{margin-top:0;position:absolute;right:0;top:0}
	#header h1{font-size:3.1vw;position:static;margin:0;width:100%;padding:2vw 0 0;max-width:none}
	.main_nav a{width:100%;margin:0.5vw 0;font-size:18px;border-bottom:1px solid #d4d4d4;padding:10px 0 15px}
	.main_nav a:last-child{border:0}
	#footer p{font-size:14px;line-height:150%}
	#footer .memoria{width:100%;text-align:center}
	#footer .info{width:100%;text-align:center}
	.player_icon{width:70px;height:70px;background-size:cover;margin-top:-35px;margin-left:-35px}
	.wrap_menu{position:relative}
	a.mobile_menu{display:inline;position:absolute;right:0;width:44px;height:37px;background:url(../images/mobile_menu.png) no-repeat 0 0;text-indent:-9999px;top:-10vw}
	.carrusel_block ul.pagination a{margin:0 2px;width:14px; height:14px}
	.carrusel_block ul.pagination{width:50%}
	.carrusel_block .nav a{width:25%;font-size:3.1vw}
}

@media screen and (max-width:600px){/* Small tablet portrait (600x800) */
	body.debug{background:blue}
	.social a{width:30px;height:30px;background-size:auto 200%;margin-left:4px}
	#header a.logo{width:110px;height:38px}
	#header h1{font-size:5vw;width:76%;margin:6vw 12% 3vw}
	#footer p{font-size:11px}
	a.mobile_menu{top:-14vw}
	.main_nav a{font-size:16px;padding:22px 0}
	.main_block{height:auto;background-position:top left}
	.main_block .text{font-size:15px;width:55%}
	.secondary_block{font-size:18px}
	.carrusel_block ul.pagination{width:100%;margin-top:0.5em}
	.carrusel_block .nav a{width:46%;font-size:18px}
	.content_carrusel .carrusel_item li {width: 90%!important;margin-left: 0!important;margin-right: 0!important;font-size: 5.5vw;height: auto!important;padding: 5%;}
}

@media screen and (max-width:480px){/* mobile portrait & landscape */
	body.debug{background:pink}
	#footer .info span{display:none}
	#footer a{display:block}
	.main_block .text{width:100%;padding-right:0;font-size:14px;color:#000000;padding-top:0!important}
	.secondary_block{font-size:15px}
	.main_block{background-size:100% auto;padding-top:30vw}
	body #main .wrap{width:86%;margin-left:7%;margin-right:7%}
}

@media screen and (max-width:320px){/* mobile portrait */
	body.debug{background:yellow}
	#header h1{margin:11vw 1% 13vw;width:98%;font-size:6.5vw;line-height:130%}
}